html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  background-color: #f7f9fb;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3, h4, p, li {
  font-family: gimlet-text, serif;
  color: #333333;
}


h1 {
    font-size: 1rem;
    font-weight: 700;

}

h2 {
    font-size: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

li {
    font-size: 1rem;
    font-weight: 400
}


/* || header layout */

nav, article, aside, footer {
  padding: 1%;
}

nav {
  height: 48px;
  display: flex;
  margin-bottom: 16px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 1;
  display: flex;
}


/* || main layout */

main {
  display: flex;
}


footer {
  margin-top: 10px;
}